<form action="/schedule" method="post">
    <label for="job_comment">Job Comment:</label><br>
    <input type="text" id="job_comment" name="job_comment"><br>
    <label for="day_of_week">Day of Week:</label><br>
    <select id="day_of_week" name="day_of_week">
      <option value="0">Sunday</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
    </select><br>
    <input type="submit" value="Submit">
  </form>